$white: #fff;
$black: #221f20;
$red: #ea1e30;
$blue: #538cca;

$txt-color: #212529;
$txt-gray: #343a40;
$txt-white: #ffffff8c;

$main-font: 'Roboto', 'Open Sans', sans-serif;

$mobile-width: 600px;
$tablet-width: 1024px;
